.video {
    margin-top: 30px;
}

.video__container {
    position: relative;
    max-width: 100%;
  }
  
  .video__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
/*   .play-button {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url("../../../assets/img/icons/play-circle_icon-icons.com_69988.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 103%;
  } */
  
.video-video {
    width: 100%;
}

@media(max-width: 768px) {
    .video {
        padding: 30px 0 54px 0;
    }
}